
/* generales */

html {
	height:100%;
}

body {
	font-family: "Quando", "sans-serif";
    background-color: #EFEFEF;
    background-image: url("../../../static/images/wood-bg.jpg");
}

/* list-members */

div#search-members label {
    width: 25%;
}

div#search-members label {
    font-size: 14px;
}

a#print-list {
	display: block;
    margin: 10px auto;
    text-decoration: none;
}

.hcenter {
	margin: 10px auto;
}

.textbox {
	font-family: "Quando";
    font-size: 11px;
    padding: 5px;
    width: 100%;
}

footer {
    color: #8A8A8A;
    font-family: "Qundo", "san-serif";
    font-size: 14px;
    position: fixed;
    top: 5px;
    right: 5px;
    text-align: center;
}

footer a, a:after, a:before {
    text-decoration: none;
    color: #8A8A8A;
}
