{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Asistencia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="luismy01">

    <!-- bootstrap-->
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- fin bootstrap-->

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- colorbox -->
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/colorbox/example1/colorbox.css" type="text/css" media="screen" />
    <!-- fin colorbox -->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.png">

    <!-- JQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    
    <!-- highcharts config. -->
    <script type="text/javascript">
      $(function () {
          
          var chart; /* Highcharts Stadistic Object */

          function formatDia(date){
            alert(new Date(date));
            return date;
          };


          $(document).ready(function() {

              chart = new Highcharts.Chart({
                  chart: {
                      renderTo: 'chart-stadistic',
                      type: 'line'
                  },
                  title: {
                      text: 'Registro de Asistencia'
                  },
                  subtitle: {
                      text: 'IPUC - 20 de Julio'
                  },
                  xAxis: {
                      categories: ['2013/01/06', '2013/02/06', '2013/03/06', '2013/04/06', '2013/05/06', '2013/06/06', '2013/07/06', '2013/08/06', '2013/09/06', '2013/10/06', '2013/11/06', '2013/12/06']
                  },
                  yAxis: {
                      title: {
                          text: 'Asistencia'
                      }
                  },
                  tooltip: {
                      enabled: true,
                      formatter: function() {
                          return formatDia(this.x) + '<br/>' +
                            '<b>*' + this.series.name + '</b>: ' + this.y + ' personas';
                      }
                  },
                  plotOptions: {
                      line: {
                          dataLabels: {
                              enabled: true
                          },
                          enableMouseTracking: true
                      }
                  },
                  series: [{
                      name: 'Hermanos',
                      data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
                  }, {
                      name: 'Visitas',
                      data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
                  }, {
                      name: 'Niños',
                      data: [3.8, 7.2, 5.4, 23.5, 12.3, 15.2, 18.0, 13.6, 18.2, 16.3, 8.6, 2.8]
                  }]
              });

              $("#modalbox").colorbox({
                inline:true,
                href:this.href,
                width:"45%",
                onOpen:function(){
                  $("#form-asistencia").css("display", "block");
                },
                onClosed:function(){
                  $("#form-asistencia").css("display", "none");
                  $("#btn-cancel").click();
                }
              });

              $("#btn-cancel").click(function(){
                $.colorbox.close();
              });

              $("#btn-save").click(function(){
                $("#btn-save").text("Guardando...");
                $("#btn-save").addClass("disabled");
              });


          });
          
      });
    </script>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://twitter.github.com/bootstrap/examples/hero.html#">Veinte de Julio</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Inicio</a></li>
              <li><a href="#">Secretar&iacute;a</a></li>
              <li><a href="#">Tesorer&iacute;a</a></li>
              <li class="dropdown">
                <a href="http://twitter.github.com/bootstrap/examples/hero.html#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="http://twitter.github.com/bootstrap/examples/hero.html#">Action</a></li>
                  <li><a href="http://twitter.github.com/bootstrap/examples/hero.html#">Another action</a></li>
                  <li><a href="http://twitter.github.com/bootstrap/examples/hero.html#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="http://twitter.github.com/bootstrap/examples/hero.html#">Separated link</a></li>
                  <li><a href="http://twitter.github.com/bootstrap/examples/hero.html#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Usuario">
              <input class="span2" type="password" placeholder="Contraseña">
              <button type="submit" class="btn">Entrar</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <!-- Main hero unit for a primary marketing message or call to action -->
      
        <div class="row-fluid">
          <div class="span12">
            <div id="chart-stadistic">
              <!-- Gráfica estadística -->
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span7">
            <a class="btn btn-large btn-success bn-blobk" id="modalbox" href="#form-asistencia">&laquo; Reportar Asistencia &raquo;</a>
          </div>
        </div>
      

      <!-- Oculto temporalmente !!!!!!!!!!!!!
      
      <div class="row-fluid">
        <div class="span7">
          <h2>Reporte de Asistencia</h2>
          <p>El reporte de la asistencia a la Escuela Dominical es importante para evaluar la misi&oacute;n principal de la <abbr class="initialism" title="Iglesia Pentecostal Unida de Colombia">IPUC</abbr>.</p>
          <blockquote class="pull-right">
            <p>
              Y les dijo: Id por todo el mundo y predicad el evangelio a toda criatura. El que creyere y fuere bautizado, será salvo; mas el que no creyere, será condenado.
            </p>
            <small>Santa Biblia, <cite title="Evangelio segun San Marcos 16:15-16">San Marcos 16:15-16</cite></small>
          </blockquote>
          <p><a class="btn disabled" href="http://twitter.github.com/bootstrap/examples/hero.html#">View details »</a></p>
        </div>
      </div> 

      -->

      <!-- form para el registro de la asistencia -->
      <!-- contenido oculto, se muestra en una ventana modal -->
      <div id="form-asistencia" style="display:none;">
        <div class="row-fluid">
          <div class="span2">
            <form class="form-horizontal" id="form-reportar-asistencia">
              <fieldset>
              <legend>Reportar Asistencia</legend>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Fecha</label>
                <div class="controls">
                  <div class="input-prepend">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        <input type="text" class="span10" name="fecha" placeholder="¿Que día fué?">
                      </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Hermanos</label>
                <div class="controls">
                  <div class="input-prepend">
                        <span class="add-on"><i class="icon-ok-circle"></i></span>
                        <input type="text" class="span10" name="hnos" placeholder="¿Cuantos?">
                      </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Visitas</label>
                <div class="controls">
                  <div class="input-prepend">
                        <span class="add-on"><i class="icon-ok-circle"></i></span>
                        <input type="text" class="span10" name="visitas" placeholder="¿Cuantos?">
                      </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Niños</label>
                <div class="controls">
                  <div class="input-prepend">
                        <span class="add-on"><i class="icon-ok-circle"></i></span>
                        <input type="text" class="span10" name="ninos" placeholder="¿Cuantos?">
                      </div>
                </div>
              </div>
              <div class="control-group">
                 <div class="controls">
                  <button type="submit" class="btn btn-primary" id="btn-save">Guardar</button>
                  <button type="reset" class="btn" id="btn-cancel">Cancelar</button>
                </div>
              </div>
            </fieldset>
            </form>
          </div>
        </div>
      </div>
      <!-- contenido oculto, se muestra en una ventana modal -->

      <hr>

      <footer>
        <div class="row-fluid">
          <div class="span12">
            <p>
              Web site develop by <a href="https://twitter.com/luismy01">luismy01</a> © 2012.
              Originally based off <a href="http://twitter.github.com/bootstrap">Bootstrap</a>,
              <a href="http://www.highcharts.com/">HighCharts</a> and 
              <a href="http://www.jacklmoore.com/colorbox">Colorbox JQuery Plugin</a>
            </p>
          </div>
        </div>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./index_files/jquery.js"></script>
    <script src="./index_files/bootstrap-transition.js"></script>
    <script src="./index_files/bootstrap-alert.js"></script>
    <script src="./index_files/bootstrap-modal.js"></script>
    <script src="./index_files/bootstrap-dropdown.js"></script>
    <script src="./index_files/bootstrap-scrollspy.js"></script>
    <script src="./index_files/bootstrap-tab.js"></script>
    <script src="./index_files/bootstrap-tooltip.js"></script>
    <script src="./index_files/bootstrap-popover.js"></script>
    <script src="./index_files/bootstrap-button.js"></script>
    <script src="./index_files/bootstrap-collapse.js"></script>
    <script src="./index_files/bootstrap-carousel.js"></script>
    <script src="./index_files/bootstrap-typeahead.js"></script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!-- colorbox -->
    <script type="text/javascript" src="http://www.jacklmoore.com/colorbox/colorbox/jquery.colorbox.js"></script>
  
</body>

</html>