{% extends "web.html" %}

{% block container %}
	
	<div class="row">
		<div class="col-md-12">
		
			<table id="listado" class="table table-hover table-condensed">
				
				<thead>
					<tr>
						<th>#</th>
						<th>Fecha</th>
						<th>Hermanos</th>
						<th>Niños</th>
						<th>Visitas</th>
						<th>Adolescentes</th>
						<th>Ofrenda</th>
						<th>Descripción</th>
						<th>Acciones</th>
					</tr>
				</thead>

				<tbody id="tbody">

				{% for asistencia in asistencias %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td class="fecha">{{ asistencia.fecha|date:"Y-m-d" }}</td>
						<td>{{ asistencia.hermanos }}</td>
						<td>{{ asistencia.ninos }}</td>
						<td>{{ asistencia.visitas }}</td>
						<td>{{ asistencia.adolescentes }}</td>
						<td>{{ asistencia.ofrenda }}</td>
						<td>{{ asistencia.descripcion }}</td>
						<td>
							{% if user.username = "" %}
							<a href="{% url 'entrar' %}">Entrar</a>
							{% else %}
							<a href="{% url 'asistencia_view_id' pk=asistencia.id %}" class="btn btn-primary btn-sm"><span title="Editar" class="glyphicon glyphicon-th-list"></span></a>
							<a href="{% url 'borrar_asistencia' pk=asistencia.id %}" class="btn btn-danger btn-sm"><span title="Borrar" class="glyphicon glyphicon-trash"></span></a>
							{% endif %}

						</td>
					</tr>
				{% endfor %}

				</tbody>

			</table>

		</div>
	</div>

{% endblock %}

{% block scriptlast %}

<script type="text/x-mustache" id="template">
	<tr>
		<td><%= counter %></td>
		<td class="fecha"><%= fecha %></td>
		<td><%= hermanos %></td>
		<td><%= ninos %></td>
		<td><%= visitas %></td>
		<td><%= adolescentes %></td>
		<td><%= ofrenda %></td>
		<td><%= observaciones %></td>
		<td>
			{% if user.username = "" %}
			<a href="{% url 'entrar' %}">Entrar</a>
			{% else %}
			<a href="{% url 'asistencia_view_id' pk=0 %}" class="btn btn-primary btn-sm"><span title="Editar" class="glyphicon glyphicon-th-list"></span></a>
			<a href="{% url 'borrar_asistencia' pk=0 %}" class="btn btn-danger btn-sm"><span title="Borrar" class="glyphicon glyphicon-trash"></span></a>
			{% endif %}

		</td>
	</tr>
</script>

<script type="text/javascript">
	
	$("td.fecha").text(function (index, txtold){
		var txt = moment(txtold).format("MMMM D, YYYY");
		$(this).text(txt);
	});

	function actualizarListado( json, textStatus, jqXHR ) {
			
		var template = $("#template").html();
		var html = ""
		_.each(json.data, function(json, key, list){
			json.fecha = moment(json.fecha).format("MMMM D, YYYY");
			html += _.template(template, json);
		});

		$("#tbody").html(html);

	}

	$("#listado").dataTable({
		language:{
			url: "//cdn.datatables.net/plug-ins/be7019ee387/i18n/Spanish.json"
		}
	});

</script>
{% endblock %}