{% load staticfiles %}

<script type="text/template" id="persona-detail-template">

  <div class="container-fluid">

    <div class="row">

      <div class="page-header">

        <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">

          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-danger btn-eliminar">Eliminar</button>
          </div>

          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-habilitar <%= habilitado ? '' : 'active' %>" data-toggle="button" aria-pressed="<%= !habilitado %>"> <%= habilitado ? 'Deshabilitar' : 'Deshabilitado' %> </button>
            <a href="#persona/<%= identificacion_codigo %>/editar" class="btn btn-default btn-editar">Editar</a>
          </div>

        </div>

        <h1>Personas <small>(ver)</small></h1>
      </div>

    </div>

    <div class="row">

      <div class="col-md-2">
        <div href="#" class="thumbnail">
          <img alt="..." src="{% static "igle/img/profile/profile_twitter_naranja.png" %}">
          <div class="caption text-center">
            <h2><%= nombre.split(" ")[0] %></h2>
          </div>
        </div>
      </div>

      <div class="col-md-10">
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Nombre</h4>
            <p class="list-group-item-text nombre"><%= nombre %></p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading identificacion_tipo">Cedúla de ciudadan&iacute;a</h4>
            <p class="list-group-item-text identificacion_codigo"><%= identificacion_codigo %></p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Congregaci&oacute;n</h4>
            <p class="list-group-item-text congregacion"><%= congregacion %></p>
          </li>
          
          <% if (fecha_nacimiento != null) { %>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Fecha de nacimiento</h4>
            <p class="list-group-item-text fecha_nacimiento"><%= moment(fecha_nacimiento).format("D [de] MMMM [de] YYYY") %></p>
          </li>
          <% } %>

          <% if (email != "") { %>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Correo electr&oacute;nico</h4>
            <p class="list-group-item-text email"><%= email %></p>
          </li>
          <% } %>

          <% if (celular != "") { %>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Celular de contacto</h4>
            <p class="list-group-item-text celular"><%= celular %></p>
          </li>
          <% } %>

        </ul>
      </div>

    </div>

    <div class="modal fade" id="dialogo-eliminar">
    </div><!-- /.modal -->

  </div>

</script>

<script type="text/template" id="dialogo-eliminar-template">
  
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">¿Estas seguro de eliminar a <%= persona.get("nombre") %> ?</h4>
      </div>
      <div class="modal-body">
        <p>Si continuas, se eliminar&aacute; de forma permanente de la base de datos.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

</script>