{% extends "igle/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% trans "Personas" as title %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <div id="content"></div>
  </div>
</div>

<!-- JavaScript Templates -->
{% include "personas/persona_listar.html" %}
{% include "personas/persona_editar.html" %}
{% include "personas/persona_ver.html" %}
  
{% endblock %}

{% block script %}

    <script type="text/javascript" src="{% static "personas/js/persona.app.js" %}" ></script>
    <script type="text/javascript" src="{% static "personas/js/persona.model.js" %}" ></script>
    <script type="text/javascript" src="{% static "personas/js/persona.collection.js" %}" ></script>
    <script type="text/javascript" src="{% static "personas/js/persona.listview.js" %}" ></script>
    <script type="text/javascript" src="{% static "personas/js/persona.editview.js" %}" ></script>
    <script type="text/javascript" src="{% static "personas/js/persona.detailview.js" %}" ></script>
    <script type="text/javascript" src="{% static "personas/js/persona.router.js" %}" ></script>
    <script type="text/javascript" src="{% static "personas/js/persona.setup.js" %}" ></script>

    <script type="text/javascript">

        $(function() {
            app.personas.reset({{ json_data|safe }})
        });

    </script>

{% endblock %}
